Flask==2.0.1
imbalanced-learn==0.7.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206598566/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1617118429768/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.3
jedi==0.17.0
joblib==1.0.1
jsonschema==3.0.2
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1616770841739/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1612213308260/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
kmodes==0.11.0
lightgbm==3.2.1
llvmlite==0.36.0
Markdown @ file:///tmp/build/80754af9/markdown_1603216490021/work
matplotlib==3.4.2
mlflow==1.19.0
nb-conda==2.2.1
nb-conda-kernels @ file:///tmp/build/80754af9/nb_conda_kernels_1606775986548/work
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1624479062492/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
numba==0.53.1
numexpr==2.7.3
numpy==1.19.5
openpyxl==3.0.7
pandas==1.2.4
pandas-profiling==3.0.0
Pillow==8.3.1
plotly==5.1.0
pycaret==2.3.2
scikit-learn==0.23.2
scikit-plot==0.3.7
scipy @ file:///tmp/build/80754af9/scipy_1597686620742/work
seaborn==0.11.1
spacy==2.3.7
srsly==1.0.5
statsmodels==0.12.2
streamlit==0.84.2
tqdm==4.61.1
wrapt==1.12.1
xlrd==2.0.1
